{
  "openapi": "3.0.1",
  "info": {
    "title": "Hibit API",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://testnetbrokerapi.hibit.app"
    },
    {
      "url": "https://brokerapi.hibit.app"
    }
  ],
  "paths": {
    "/v1/payment-address": {
      "get": {
        "tags": ["Query"],
        "summary": "Get the payment address",
        "parameters": [
          {
            "name": "HIN",
            "in": "query",
            "description": "The HIN of the broker agent.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ChainId",
            "in": "query",
            "description": "The chain of the payment address.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Ex3.Broker.Api.OpenApiResult`1[[Ex3.Broker.Api.AppServices.Dtos.GetFundReceiverOutput, Ex3.Broker.Api, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ex3.Broker.Api.OpenApiResult`1[[Ex3.Broker.Api.AppServices.Dtos.GetFundReceiverOutput, Ex3.Broker.Api, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ex3.Broker.Api.OpenApiResult`1[[Ex3.Broker.Api.AppServices.Dtos.GetFundReceiverOutput, Ex3.Broker.Api, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Volo.Abp.Http.RemoteServiceErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Volo.Abp.Http.RemoteServiceErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Volo.Abp.Http.RemoteServiceErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Volo.Abp.Http.RemoteServiceErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Volo.Abp.Http.RemoteServiceErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Volo.Abp.Http.RemoteServiceErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Volo.Abp.Http.RemoteServiceErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Volo.Abp.Http.RemoteServiceErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Volo.Abp.Http.RemoteServiceErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Volo.Abp.Http.RemoteServiceErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Volo.Abp.Http.RemoteServiceErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Volo.Abp.Http.RemoteServiceErrorResponse"
                }
              }
            }
          },
          "501": {
            "description": "Not Implemented",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Volo.Abp.Http.RemoteServiceErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Volo.Abp.Http.RemoteServiceErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Volo.Abp.Http.RemoteServiceErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Volo.Abp.Http.RemoteServiceErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Volo.Abp.Http.RemoteServiceErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Volo.Abp.Http.RemoteServiceErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/quote": {
      "get": {
        "tags": ["Query"],
        "summary": "Quote exchange rate",
        "description": "Quotes the exchange rate between two assets.",
        "parameters": [
          {
            "name": "SourceChainId",
            "in": "query",
            "description": "The blockchain where the source asset currently resides (e.g., Bitcoin, Ethereum, Kaspa).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SourceAssetType",
            "in": "query",
            "description": "The type of the source asset (Native, SPL, ERC20, KRC20 etc.).\r\nDetermines how the asset is identified and processed.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SourceAsset",
            "in": "query",
            "description": "The identifier for the source asset - either a contract address for tokens or a ticker symbol.\r\nShould be null when SourceAssetType is Native (e.g., BTC, ETH, KAS).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SourceVolume",
            "in": "query",
            "description": "The amount of source asset to be exchanged/transferred, expressed in the smallest unit\r\nof the asset (e.g., satoshi for Bitcoin, wei for Ethereum).",
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "TargetChainId",
            "in": "query",
            "description": "The destination blockchain for the exchange operation.\r\nWhen null, the system will use the same chain as the source (intra-chain operation).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TargetAssetType",
            "in": "query",
            "description": "The type of the target asset to receive.\r\nWhen null, the system will use the same asset type as the source.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TargetAsset",
            "in": "query",
            "description": "The identifier for the target asset - either a contract address for tokens or a ticker symbol.\r\nShould be null when TargetAssetType is Native (e.g., BTC, ETH, KAS).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Ex3.Broker.Api.OpenApiResult`1[[Ex3.Broker.Api.AppServices.Dtos.QuoteResult, Ex3.Broker.Api, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ex3.Broker.Api.OpenApiResult`1[[Ex3.Broker.Api.AppServices.Dtos.QuoteResult, Ex3.Broker.Api, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ex3.Broker.Api.OpenApiResult`1[[Ex3.Broker.Api.AppServices.Dtos.QuoteResult, Ex3.Broker.Api, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Volo.Abp.Http.RemoteServiceErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Volo.Abp.Http.RemoteServiceErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Volo.Abp.Http.RemoteServiceErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Volo.Abp.Http.RemoteServiceErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Volo.Abp.Http.RemoteServiceErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Volo.Abp.Http.RemoteServiceErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Volo.Abp.Http.RemoteServiceErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Volo.Abp.Http.RemoteServiceErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Volo.Abp.Http.RemoteServiceErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Volo.Abp.Http.RemoteServiceErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Volo.Abp.Http.RemoteServiceErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Volo.Abp.Http.RemoteServiceErrorResponse"
                }
              }
            }
          },
          "501": {
            "description": "Not Implemented",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Volo.Abp.Http.RemoteServiceErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Volo.Abp.Http.RemoteServiceErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Volo.Abp.Http.RemoteServiceErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Volo.Abp.Http.RemoteServiceErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Volo.Abp.Http.RemoteServiceErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Volo.Abp.Http.RemoteServiceErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/order": {
      "get": {
        "tags": ["Query"],
        "summary": "Get order status",
        "parameters": [
          {
            "name": "AgentOrderId",
            "in": "query",
            "description": "Agent order id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Ex3.Broker.Api.OpenApiResult`1[[Ex3.Broker.Api.AppServices.Dtos.GetOrderOutput, Ex3.Broker.Api, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ex3.Broker.Api.OpenApiResult`1[[Ex3.Broker.Api.AppServices.Dtos.GetOrderOutput, Ex3.Broker.Api, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ex3.Broker.Api.OpenApiResult`1[[Ex3.Broker.Api.AppServices.Dtos.GetOrderOutput, Ex3.Broker.Api, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Volo.Abp.Http.RemoteServiceErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Volo.Abp.Http.RemoteServiceErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Volo.Abp.Http.RemoteServiceErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Volo.Abp.Http.RemoteServiceErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Volo.Abp.Http.RemoteServiceErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Volo.Abp.Http.RemoteServiceErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Volo.Abp.Http.RemoteServiceErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Volo.Abp.Http.RemoteServiceErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Volo.Abp.Http.RemoteServiceErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Volo.Abp.Http.RemoteServiceErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Volo.Abp.Http.RemoteServiceErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Volo.Abp.Http.RemoteServiceErrorResponse"
                }
              }
            }
          },
          "501": {
            "description": "Not Implemented",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Volo.Abp.Http.RemoteServiceErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Volo.Abp.Http.RemoteServiceErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Volo.Abp.Http.RemoteServiceErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Volo.Abp.Http.RemoteServiceErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Volo.Abp.Http.RemoteServiceErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Volo.Abp.Http.RemoteServiceErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/swap": {
      "post": {
        "tags": ["Tx"],
        "summary": "Swap",
        "description": "Submits a swap request between two assets.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Ex3.Broker.Api.AppServices.Dtos.SwapInput"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Ex3.Broker.Api.AppServices.Dtos.SwapInput"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Ex3.Broker.Api.AppServices.Dtos.SwapInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Ex3.Broker.Api.OpenApiResult`1[[Ex3.Broker.Api.AppServices.Dtos.SwapOutput, Ex3.Broker.Api, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ex3.Broker.Api.OpenApiResult`1[[Ex3.Broker.Api.AppServices.Dtos.SwapOutput, Ex3.Broker.Api, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ex3.Broker.Api.OpenApiResult`1[[Ex3.Broker.Api.AppServices.Dtos.SwapOutput, Ex3.Broker.Api, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Volo.Abp.Http.RemoteServiceErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Volo.Abp.Http.RemoteServiceErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Volo.Abp.Http.RemoteServiceErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Volo.Abp.Http.RemoteServiceErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Volo.Abp.Http.RemoteServiceErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Volo.Abp.Http.RemoteServiceErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Volo.Abp.Http.RemoteServiceErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Volo.Abp.Http.RemoteServiceErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Volo.Abp.Http.RemoteServiceErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Volo.Abp.Http.RemoteServiceErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Volo.Abp.Http.RemoteServiceErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Volo.Abp.Http.RemoteServiceErrorResponse"
                }
              }
            }
          },
          "501": {
            "description": "Not Implemented",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Volo.Abp.Http.RemoteServiceErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Volo.Abp.Http.RemoteServiceErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Volo.Abp.Http.RemoteServiceErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Volo.Abp.Http.RemoteServiceErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Volo.Abp.Http.RemoteServiceErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Volo.Abp.Http.RemoteServiceErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Ex3.Broker.Api.AppServices.Dtos.GetFundReceiverOutput": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string",
            "description": "The blockchain address where funds should be sent."
          }
        },
        "additionalProperties": false
      },
      "Ex3.Broker.Api.AppServices.Dtos.GetOrderOutput": {
        "required": ["status"],
        "type": "object",
        "properties": {
          "status": {
            "$ref": "#/components/schemas/Ex3.Broker.Repository.Entities.AgentOrderStatus"
          },
          "orderExecutionTxHash": {
            "type": "string",
            "description": "The transaction hash for the order execution.",
            "nullable": true
          },
          "refundTxHash": {
            "type": "string",
            "description": "The transaction hash for the payback operation, if applicable.",
            "nullable": true
          },
          "refundAmount": {
            "type": "string",
            "description": "The amount paid back in the payback transaction.",
            "format": "string",
            "nullable": true
          },
          "refundAsset": {
            "type": "string",
            "description": "The asset address for the payback transaction.",
            "nullable": true
          },
          "transferredTxHash": {
            "type": "string",
            "description": "The transaction hash for the transfer operation.",
            "nullable": true
          },
          "transferredAmount": {
            "type": "string",
            "description": "The amount transferred to the user on successful transaction.",
            "format": "string",
            "nullable": true
          },
          "transferredAsset": {
            "type": "string",
            "description": "The asset address for the successful transaction.",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Ex3.Broker.Api.AppServices.Dtos.QuoteResult": {
        "type": "object",
        "properties": {
          "targetChainId": {
            "type": "string",
            "description": "The blockchain where the target asset resides (e.g., Ethereum, Bitcoin)."
          },
          "targetVolume": {
            "type": "string",
            "description": "The gross amount of the target asset to be received before fees are deducted.",
            "format": "string"
          },
          "receiveVolume": {
            "type": "string",
            "description": "The net amount of target asset the user will actually receive after all fees.\r\nCalculated as: TargetVolume - GasFee - BrokerFee",
            "format": "string"
          },
          "gasFee": {
            "type": "string",
            "description": "Network transaction fee required for the operation, denominated in the target asset.",
            "format": "string"
          },
          "brokerFee": {
            "type": "string",
            "description": "Service fee charged by the broker for facilitating the swap/transfer, denominated in the target asset.",
            "format": "string"
          },
          "brokerFeeRate": {
            "type": "number",
            "description": "The percentage rate used to calculate the broker fee (as a decimal, e.g., 0.01 for 1%).",
            "format": "double"
          },
          "priceImpact": {
            "type": "number",
            "description": "The effect this transaction would have on the market price, expressed as a percentage (decimal).\r\nHigher values indicate the transaction may significantly affect the market price.",
            "format": "double"
          },
          "slippage": {
            "type": "number",
            "description": "Maximum allowed price movement (as a decimal) between quote and execution.\r\nHelps protect against price volatility during transaction processing.",
            "format": "double"
          },
          "targetVolumeInUsd": {
            "type": "number",
            "description": "The equivalent value of the TargetVolume converted to USD for comparison purposes.",
            "format": "double"
          }
        },
        "additionalProperties": false
      },
      "Ex3.Broker.Api.AppServices.Dtos.SwapInput": {
        "required": ["txRef"],
        "type": "object",
        "properties": {
          "hin": {
            "type": "string",
            "description": "The HIN of the agent that initiated the swap operation."
          },
          "sourceWalletPublicKey": {
            "type": "string",
            "description": "The public key of the wallet that initiated the swap operation.",
            "nullable": true
          },
          "sourceWalletAddress": {
            "type": "string",
            "description": "The address of the wallet that initiated the swap operation."
          },
          "txRef": {
            "type": "string",
            "description": "A unique identifier for the fund transfer tx.\r\nFor example, the hash of the transaction on the source blockchain.",
            "nullable": true
          },
          "sourceChainId": {
            "type": "string",
            "description": "The blockchain where the source asset currently resides"
          },
          "sourceAssetType": {
            "type": "string",
            "description": "The type of the source asset (Native, SPL, ERC20, KRC20 etc.).\r\nDetermines how the asset is identified and processed."
          },
          "sourceAsset": {
            "type": "string",
            "description": "The identifier for the source asset - either a contract address for tokens or a ticker symbol.\r\nShould be null when SourceAssetType is Native (e.g., BTC, ETH, KAS).",
            "nullable": true
          },
          "sourceVolume": {
            "type": "string",
            "description": "The amount of source asset to be exchanged/transferred, expressed in the smallest unit\r\nof the asset (e.g., satoshi for Bitcoin, wei for Ethereum).",
            "format": "string"
          },
          "targetChainId": {
            "type": "string",
            "description": "The destination blockchain for the exchange operation.\r\nWhen null, the system will use the same chain as the source (intra-chain operation).",
            "nullable": true
          },
          "targetWalletAddress": {
            "type": "string",
            "description": "The destination wallet address where the target assets will be sent.\r\nWhen null, the system will use the source wallet address as the destination.",
            "nullable": true
          },
          "targetAssetType": {
            "type": "string",
            "description": "The type of the target asset to receive.\r\nWhen null, the system will use the same asset type as the source.",
            "nullable": true
          },
          "targetAsset": {
            "type": "string",
            "description": "The identifier for the target asset - either a contract address for tokens or a ticker symbol.\r\nShould be null when TargetAssetType is Native (e.g., BTC, ETH, KAS).",
            "nullable": true
          },
          "targetVolume": {
            "type": "string",
            "description": "The amount of target asset to be received, expressed in the smallest unit",
            "format": "string"
          },
          "targetVolumeMin": {
            "type": "string",
            "description": "The minimum amount of target asset to be received, expressed in the smallest unit",
            "format": "string"
          },
          "signatureSchema": {
            "$ref": "#/components/schemas/Ex3.Models.WalletSignatureSchema"
          },
          "signature": {
            "type": "string",
            "description": "The signature of the swap operation."
          }
        },
        "additionalProperties": false
      },
      "Ex3.Broker.Api.AppServices.Dtos.SwapOutput": {
        "type": "object",
        "properties": {
          "agentOrderId": {
            "type": "string",
            "description": "A unique identifier for the agent that initiated the swap operation.",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "The output of the swap operation."
      },
      "Ex3.Broker.Api.OpenApiResult`1[[Ex3.Broker.Api.AppServices.Dtos.GetFundReceiverOutput, Ex3.Broker.Api, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "code of the result, 200 for success, 400 for bad request",
            "format": "int32"
          },
          "message": {
            "type": "string",
            "description": "message of the result for details",
            "nullable": true
          },
          "data": {
            "$ref": "#/components/schemas/Ex3.Broker.Api.AppServices.Dtos.GetFundReceiverOutput"
          }
        },
        "additionalProperties": false,
        "description": "result of open api"
      },
      "Ex3.Broker.Api.OpenApiResult`1[[Ex3.Broker.Api.AppServices.Dtos.GetOrderOutput, Ex3.Broker.Api, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "code of the result, 200 for success, 400 for bad request",
            "format": "int32"
          },
          "message": {
            "type": "string",
            "description": "message of the result for details",
            "nullable": true
          },
          "data": {
            "$ref": "#/components/schemas/Ex3.Broker.Api.AppServices.Dtos.GetOrderOutput"
          }
        },
        "additionalProperties": false,
        "description": "result of open api"
      },
      "Ex3.Broker.Api.OpenApiResult`1[[Ex3.Broker.Api.AppServices.Dtos.QuoteResult, Ex3.Broker.Api, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "code of the result, 200 for success, 400 for bad request",
            "format": "int32"
          },
          "message": {
            "type": "string",
            "description": "message of the result for details",
            "nullable": true
          },
          "data": {
            "$ref": "#/components/schemas/Ex3.Broker.Api.AppServices.Dtos.QuoteResult"
          }
        },
        "additionalProperties": false,
        "description": "result of open api"
      },
      "Ex3.Broker.Api.OpenApiResult`1[[Ex3.Broker.Api.AppServices.Dtos.SwapOutput, Ex3.Broker.Api, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "code of the result, 200 for success, 400 for bad request",
            "format": "int32"
          },
          "message": {
            "type": "string",
            "description": "message of the result for details",
            "nullable": true
          },
          "data": {
            "$ref": "#/components/schemas/Ex3.Broker.Api.AppServices.Dtos.SwapOutput"
          }
        },
        "additionalProperties": false,
        "description": "result of open api"
      },
      "Ex3.Broker.Repository.Entities.AgentOrderStatus": {
        "enum": [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
        "type": "integer",
        "format": "int32",
        "x-enumNames": [
          "Accepted",
          "PaymentConfirmed",
          "PendingExecution",
          "Executed",
          "Succeeded",
          "Cancelled",
          "PendingWithdraw",
          "Withdrawn",
          "PendingRefund",
          "Refunded"
        ],
        "x-enum-varnames": [
          "Accepted",
          "PaymentConfirmed",
          "PendingExecution",
          "Executed",
          "Succeeded",
          "Cancelled",
          "PendingWithdraw",
          "Withdrawn",
          "PendingRefund",
          "Refunded"
        ],
        "x-enumDescriptions": [
          "Accepted",
          "PaymentConfirmed",
          "PendingExecution",
          "Executed",
          "Succeeded",
          "Cancelled",
          "PendingWithdraw",
          "Withdrawn",
          "PendingRefund",
          "Refunded"
        ]
      },
      "Ex3.Models.WalletSignatureSchema": {
        "enum": [1000, 1001, 1002, 2000, 2010, 2020, 3000, 3010],
        "type": "integer",
        "description": "Represents the schema of a wallet signature.",
        "format": "int32",
        "x-enumNames": [
          "BtcEcdsa",
          "EvmEcdsa",
          "TronEcdsa",
          "TonEddsaOpenMask",
          "SolanaEddsa",
          "IcpEcdsa",
          "BtcSchnorr",
          "KaspaSchnorr"
        ],
        "x-enum-varnames": [
          "BtcEcdsa",
          "EvmEcdsa",
          "TronEcdsa",
          "TonEddsaOpenMask",
          "SolanaEddsa",
          "IcpEcdsa",
          "BtcSchnorr",
          "KaspaSchnorr"
        ],
        "x-enumDescriptions": []
      },
      "Volo.Abp.AspNetCore.Mvc.ApplicationConfigurations.ApplicationAuthConfigurationDto": {
        "type": "object",
        "properties": {
          "grantedPolicies": {
            "type": "object",
            "additionalProperties": {
              "type": "boolean"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Volo.Abp.AspNetCore.Mvc.ApplicationConfigurations.ApplicationConfigurationDto": {
        "type": "object",
        "properties": {
          "localization": {
            "$ref": "#/components/schemas/Volo.Abp.AspNetCore.Mvc.ApplicationConfigurations.ApplicationLocalizationConfigurationDto"
          },
          "auth": {
            "$ref": "#/components/schemas/Volo.Abp.AspNetCore.Mvc.ApplicationConfigurations.ApplicationAuthConfigurationDto"
          },
          "setting": {
            "$ref": "#/components/schemas/Volo.Abp.AspNetCore.Mvc.ApplicationConfigurations.ApplicationSettingConfigurationDto"
          },
          "currentUser": {
            "$ref": "#/components/schemas/Volo.Abp.AspNetCore.Mvc.ApplicationConfigurations.CurrentUserDto"
          },
          "features": {
            "$ref": "#/components/schemas/Volo.Abp.AspNetCore.Mvc.ApplicationConfigurations.ApplicationFeatureConfigurationDto"
          },
          "globalFeatures": {
            "$ref": "#/components/schemas/Volo.Abp.AspNetCore.Mvc.ApplicationConfigurations.ApplicationGlobalFeatureConfigurationDto"
          },
          "multiTenancy": {
            "$ref": "#/components/schemas/Volo.Abp.AspNetCore.Mvc.MultiTenancy.MultiTenancyInfoDto"
          },
          "currentTenant": {
            "$ref": "#/components/schemas/Volo.Abp.AspNetCore.Mvc.MultiTenancy.CurrentTenantDto"
          },
          "timing": {
            "$ref": "#/components/schemas/Volo.Abp.AspNetCore.Mvc.ApplicationConfigurations.TimingDto"
          },
          "clock": {
            "$ref": "#/components/schemas/Volo.Abp.AspNetCore.Mvc.ApplicationConfigurations.ClockDto"
          },
          "objectExtensions": {
            "$ref": "#/components/schemas/Volo.Abp.AspNetCore.Mvc.ApplicationConfigurations.ObjectExtending.ObjectExtensionsDto"
          },
          "extraProperties": {
            "type": "object",
            "additionalProperties": {},
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Volo.Abp.AspNetCore.Mvc.ApplicationConfigurations.ApplicationFeatureConfigurationDto": {
        "type": "object",
        "properties": {
          "values": {
            "type": "object",
            "additionalProperties": {
              "type": "string",
              "nullable": true
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Volo.Abp.AspNetCore.Mvc.ApplicationConfigurations.ApplicationGlobalFeatureConfigurationDto": {
        "type": "object",
        "properties": {
          "enabledFeatures": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Volo.Abp.AspNetCore.Mvc.ApplicationConfigurations.ApplicationLocalizationConfigurationDto": {
        "type": "object",
        "properties": {
          "values": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            },
            "nullable": true
          },
          "resources": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/Volo.Abp.AspNetCore.Mvc.ApplicationConfigurations.ApplicationLocalizationResourceDto"
            },
            "nullable": true
          },
          "languages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Volo.Abp.Localization.LanguageInfo"
            },
            "nullable": true
          },
          "currentCulture": {
            "$ref": "#/components/schemas/Volo.Abp.AspNetCore.Mvc.ApplicationConfigurations.CurrentCultureDto"
          },
          "defaultResourceName": {
            "type": "string",
            "nullable": true
          },
          "languagesMap": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Volo.Abp.NameValue"
              }
            },
            "nullable": true
          },
          "languageFilesMap": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Volo.Abp.NameValue"
              }
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Volo.Abp.AspNetCore.Mvc.ApplicationConfigurations.ApplicationLocalizationDto": {
        "type": "object",
        "properties": {
          "resources": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/Volo.Abp.AspNetCore.Mvc.ApplicationConfigurations.ApplicationLocalizationResourceDto"
            },
            "nullable": true
          },
          "currentCulture": {
            "$ref": "#/components/schemas/Volo.Abp.AspNetCore.Mvc.ApplicationConfigurations.CurrentCultureDto"
          }
        },
        "additionalProperties": false
      },
      "Volo.Abp.AspNetCore.Mvc.ApplicationConfigurations.ApplicationLocalizationResourceDto": {
        "type": "object",
        "properties": {
          "texts": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "nullable": true
          },
          "baseResources": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Volo.Abp.AspNetCore.Mvc.ApplicationConfigurations.ApplicationSettingConfigurationDto": {
        "type": "object",
        "properties": {
          "values": {
            "type": "object",
            "additionalProperties": {
              "type": "string",
              "nullable": true
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Volo.Abp.AspNetCore.Mvc.ApplicationConfigurations.ClockDto": {
        "type": "object",
        "properties": {
          "kind": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Volo.Abp.AspNetCore.Mvc.ApplicationConfigurations.CurrentCultureDto": {
        "type": "object",
        "properties": {
          "displayName": {
            "type": "string",
            "nullable": true
          },
          "englishName": {
            "type": "string",
            "nullable": true
          },
          "threeLetterIsoLanguageName": {
            "type": "string",
            "nullable": true
          },
          "twoLetterIsoLanguageName": {
            "type": "string",
            "nullable": true
          },
          "isRightToLeft": {
            "type": "boolean"
          },
          "cultureName": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "nativeName": {
            "type": "string",
            "nullable": true
          },
          "dateTimeFormat": {
            "$ref": "#/components/schemas/Volo.Abp.AspNetCore.Mvc.ApplicationConfigurations.DateTimeFormatDto"
          }
        },
        "additionalProperties": false
      },
      "Volo.Abp.AspNetCore.Mvc.ApplicationConfigurations.CurrentUserDto": {
        "type": "object",
        "properties": {
          "isAuthenticated": {
            "type": "boolean"
          },
          "id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "tenantId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "impersonatorUserId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "impersonatorTenantId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "impersonatorUserName": {
            "type": "string",
            "nullable": true
          },
          "impersonatorTenantName": {
            "type": "string",
            "nullable": true
          },
          "userName": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "surName": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "emailVerified": {
            "type": "boolean"
          },
          "phoneNumber": {
            "type": "string",
            "nullable": true
          },
          "phoneNumberVerified": {
            "type": "boolean"
          },
          "roles": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "sessionId": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Volo.Abp.AspNetCore.Mvc.ApplicationConfigurations.DateTimeFormatDto": {
        "type": "object",
        "properties": {
          "calendarAlgorithmType": {
            "type": "string",
            "nullable": true
          },
          "dateTimeFormatLong": {
            "type": "string",
            "nullable": true
          },
          "shortDatePattern": {
            "type": "string",
            "nullable": true
          },
          "fullDateTimePattern": {
            "type": "string",
            "nullable": true
          },
          "dateSeparator": {
            "type": "string",
            "nullable": true
          },
          "shortTimePattern": {
            "type": "string",
            "nullable": true
          },
          "longTimePattern": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Volo.Abp.AspNetCore.Mvc.ApplicationConfigurations.IanaTimeZone": {
        "type": "object",
        "properties": {
          "timeZoneName": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Volo.Abp.AspNetCore.Mvc.ApplicationConfigurations.ObjectExtending.EntityExtensionDto": {
        "type": "object",
        "properties": {
          "properties": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/Volo.Abp.AspNetCore.Mvc.ApplicationConfigurations.ObjectExtending.ExtensionPropertyDto"
            },
            "nullable": true
          },
          "configuration": {
            "type": "object",
            "additionalProperties": {},
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Volo.Abp.AspNetCore.Mvc.ApplicationConfigurations.ObjectExtending.ExtensionEnumDto": {
        "type": "object",
        "properties": {
          "fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Volo.Abp.AspNetCore.Mvc.ApplicationConfigurations.ObjectExtending.ExtensionEnumFieldDto"
            },
            "nullable": true
          },
          "localizationResource": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Volo.Abp.AspNetCore.Mvc.ApplicationConfigurations.ObjectExtending.ExtensionEnumFieldDto": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "nullable": true
          },
          "value": {
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Volo.Abp.AspNetCore.Mvc.ApplicationConfigurations.ObjectExtending.ExtensionPropertyApiCreateDto": {
        "type": "object",
        "properties": {
          "isAvailable": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "Volo.Abp.AspNetCore.Mvc.ApplicationConfigurations.ObjectExtending.ExtensionPropertyApiDto": {
        "type": "object",
        "properties": {
          "onGet": {
            "$ref": "#/components/schemas/Volo.Abp.AspNetCore.Mvc.ApplicationConfigurations.ObjectExtending.ExtensionPropertyApiGetDto"
          },
          "onCreate": {
            "$ref": "#/components/schemas/Volo.Abp.AspNetCore.Mvc.ApplicationConfigurations.ObjectExtending.ExtensionPropertyApiCreateDto"
          },
          "onUpdate": {
            "$ref": "#/components/schemas/Volo.Abp.AspNetCore.Mvc.ApplicationConfigurations.ObjectExtending.ExtensionPropertyApiUpdateDto"
          }
        },
        "additionalProperties": false
      },
      "Volo.Abp.AspNetCore.Mvc.ApplicationConfigurations.ObjectExtending.ExtensionPropertyApiGetDto": {
        "type": "object",
        "properties": {
          "isAvailable": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "Volo.Abp.AspNetCore.Mvc.ApplicationConfigurations.ObjectExtending.ExtensionPropertyApiUpdateDto": {
        "type": "object",
        "properties": {
          "isAvailable": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "Volo.Abp.AspNetCore.Mvc.ApplicationConfigurations.ObjectExtending.ExtensionPropertyAttributeDto": {
        "type": "object",
        "properties": {
          "typeSimple": {
            "type": "string",
            "nullable": true
          },
          "config": {
            "type": "object",
            "additionalProperties": {},
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Volo.Abp.AspNetCore.Mvc.ApplicationConfigurations.ObjectExtending.ExtensionPropertyDto": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "nullable": true
          },
          "typeSimple": {
            "type": "string",
            "nullable": true
          },
          "displayName": {
            "$ref": "#/components/schemas/Volo.Abp.AspNetCore.Mvc.ApplicationConfigurations.ObjectExtending.LocalizableStringDto"
          },
          "api": {
            "$ref": "#/components/schemas/Volo.Abp.AspNetCore.Mvc.ApplicationConfigurations.ObjectExtending.ExtensionPropertyApiDto"
          },
          "ui": {
            "$ref": "#/components/schemas/Volo.Abp.AspNetCore.Mvc.ApplicationConfigurations.ObjectExtending.ExtensionPropertyUiDto"
          },
          "policy": {
            "$ref": "#/components/schemas/Volo.Abp.AspNetCore.Mvc.ApplicationConfigurations.ObjectExtending.ExtensionPropertyPolicyDto"
          },
          "attributes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Volo.Abp.AspNetCore.Mvc.ApplicationConfigurations.ObjectExtending.ExtensionPropertyAttributeDto"
            },
            "nullable": true
          },
          "configuration": {
            "type": "object",
            "additionalProperties": {},
            "nullable": true
          },
          "defaultValue": {
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Volo.Abp.AspNetCore.Mvc.ApplicationConfigurations.ObjectExtending.ExtensionPropertyFeaturePolicyDto": {
        "type": "object",
        "properties": {
          "features": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "requiresAll": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "Volo.Abp.AspNetCore.Mvc.ApplicationConfigurations.ObjectExtending.ExtensionPropertyGlobalFeaturePolicyDto": {
        "type": "object",
        "properties": {
          "features": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "requiresAll": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "Volo.Abp.AspNetCore.Mvc.ApplicationConfigurations.ObjectExtending.ExtensionPropertyPermissionPolicyDto": {
        "type": "object",
        "properties": {
          "permissionNames": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "requiresAll": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "Volo.Abp.AspNetCore.Mvc.ApplicationConfigurations.ObjectExtending.ExtensionPropertyPolicyDto": {
        "type": "object",
        "properties": {
          "globalFeatures": {
            "$ref": "#/components/schemas/Volo.Abp.AspNetCore.Mvc.ApplicationConfigurations.ObjectExtending.ExtensionPropertyGlobalFeaturePolicyDto"
          },
          "features": {
            "$ref": "#/components/schemas/Volo.Abp.AspNetCore.Mvc.ApplicationConfigurations.ObjectExtending.ExtensionPropertyFeaturePolicyDto"
          },
          "permissions": {
            "$ref": "#/components/schemas/Volo.Abp.AspNetCore.Mvc.ApplicationConfigurations.ObjectExtending.ExtensionPropertyPermissionPolicyDto"
          }
        },
        "additionalProperties": false
      },
      "Volo.Abp.AspNetCore.Mvc.ApplicationConfigurations.ObjectExtending.ExtensionPropertyUiDto": {
        "type": "object",
        "properties": {
          "onTable": {
            "$ref": "#/components/schemas/Volo.Abp.AspNetCore.Mvc.ApplicationConfigurations.ObjectExtending.ExtensionPropertyUiTableDto"
          },
          "onCreateForm": {
            "$ref": "#/components/schemas/Volo.Abp.AspNetCore.Mvc.ApplicationConfigurations.ObjectExtending.ExtensionPropertyUiFormDto"
          },
          "onEditForm": {
            "$ref": "#/components/schemas/Volo.Abp.AspNetCore.Mvc.ApplicationConfigurations.ObjectExtending.ExtensionPropertyUiFormDto"
          },
          "lookup": {
            "$ref": "#/components/schemas/Volo.Abp.AspNetCore.Mvc.ApplicationConfigurations.ObjectExtending.ExtensionPropertyUiLookupDto"
          }
        },
        "additionalProperties": false
      },
      "Volo.Abp.AspNetCore.Mvc.ApplicationConfigurations.ObjectExtending.ExtensionPropertyUiFormDto": {
        "type": "object",
        "properties": {
          "isVisible": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "Volo.Abp.AspNetCore.Mvc.ApplicationConfigurations.ObjectExtending.ExtensionPropertyUiLookupDto": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "nullable": true
          },
          "resultListPropertyName": {
            "type": "string",
            "nullable": true
          },
          "displayPropertyName": {
            "type": "string",
            "nullable": true
          },
          "valuePropertyName": {
            "type": "string",
            "nullable": true
          },
          "filterParamName": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Volo.Abp.AspNetCore.Mvc.ApplicationConfigurations.ObjectExtending.ExtensionPropertyUiTableDto": {
        "type": "object",
        "properties": {
          "isVisible": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "Volo.Abp.AspNetCore.Mvc.ApplicationConfigurations.ObjectExtending.LocalizableStringDto": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "nullable": true
          },
          "resource": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Volo.Abp.AspNetCore.Mvc.ApplicationConfigurations.ObjectExtending.ModuleExtensionDto": {
        "type": "object",
        "properties": {
          "entities": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/Volo.Abp.AspNetCore.Mvc.ApplicationConfigurations.ObjectExtending.EntityExtensionDto"
            },
            "nullable": true
          },
          "configuration": {
            "type": "object",
            "additionalProperties": {},
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Volo.Abp.AspNetCore.Mvc.ApplicationConfigurations.ObjectExtending.ObjectExtensionsDto": {
        "type": "object",
        "properties": {
          "modules": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/Volo.Abp.AspNetCore.Mvc.ApplicationConfigurations.ObjectExtending.ModuleExtensionDto"
            },
            "nullable": true
          },
          "enums": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/Volo.Abp.AspNetCore.Mvc.ApplicationConfigurations.ObjectExtending.ExtensionEnumDto"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Volo.Abp.AspNetCore.Mvc.ApplicationConfigurations.TimeZone": {
        "type": "object",
        "properties": {
          "iana": {
            "$ref": "#/components/schemas/Volo.Abp.AspNetCore.Mvc.ApplicationConfigurations.IanaTimeZone"
          },
          "windows": {
            "$ref": "#/components/schemas/Volo.Abp.AspNetCore.Mvc.ApplicationConfigurations.WindowsTimeZone"
          }
        },
        "additionalProperties": false
      },
      "Volo.Abp.AspNetCore.Mvc.ApplicationConfigurations.TimingDto": {
        "type": "object",
        "properties": {
          "timeZone": {
            "$ref": "#/components/schemas/Volo.Abp.AspNetCore.Mvc.ApplicationConfigurations.TimeZone"
          }
        },
        "additionalProperties": false
      },
      "Volo.Abp.AspNetCore.Mvc.ApplicationConfigurations.WindowsTimeZone": {
        "type": "object",
        "properties": {
          "timeZoneId": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Volo.Abp.AspNetCore.Mvc.MultiTenancy.CurrentTenantDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "isAvailable": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "Volo.Abp.AspNetCore.Mvc.MultiTenancy.MultiTenancyInfoDto": {
        "type": "object",
        "properties": {
          "isEnabled": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "Volo.Abp.Http.Modeling.ActionApiDescriptionModel": {
        "type": "object",
        "properties": {
          "uniqueName": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "httpMethod": {
            "type": "string",
            "nullable": true
          },
          "url": {
            "type": "string",
            "nullable": true
          },
          "supportedVersions": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "parametersOnMethod": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Volo.Abp.Http.Modeling.MethodParameterApiDescriptionModel"
            },
            "nullable": true
          },
          "parameters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Volo.Abp.Http.Modeling.ParameterApiDescriptionModel"
            },
            "nullable": true
          },
          "returnValue": {
            "$ref": "#/components/schemas/Volo.Abp.Http.Modeling.ReturnValueApiDescriptionModel"
          },
          "allowAnonymous": {
            "type": "boolean",
            "nullable": true
          },
          "implementFrom": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Volo.Abp.Http.Modeling.ApplicationApiDescriptionModel": {
        "type": "object",
        "properties": {
          "modules": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/Volo.Abp.Http.Modeling.ModuleApiDescriptionModel"
            },
            "nullable": true
          },
          "types": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/Volo.Abp.Http.Modeling.TypeApiDescriptionModel"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Volo.Abp.Http.Modeling.ControllerApiDescriptionModel": {
        "type": "object",
        "properties": {
          "controllerName": {
            "type": "string",
            "nullable": true
          },
          "controllerGroupName": {
            "type": "string",
            "nullable": true
          },
          "isRemoteService": {
            "type": "boolean"
          },
          "isIntegrationService": {
            "type": "boolean"
          },
          "apiVersion": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "nullable": true
          },
          "interfaces": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Volo.Abp.Http.Modeling.ControllerInterfaceApiDescriptionModel"
            },
            "nullable": true
          },
          "actions": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/Volo.Abp.Http.Modeling.ActionApiDescriptionModel"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Volo.Abp.Http.Modeling.ControllerInterfaceApiDescriptionModel": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "methods": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Volo.Abp.Http.Modeling.InterfaceMethodApiDescriptionModel"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Volo.Abp.Http.Modeling.InterfaceMethodApiDescriptionModel": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "nullable": true
          },
          "parametersOnMethod": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Volo.Abp.Http.Modeling.MethodParameterApiDescriptionModel"
            },
            "nullable": true
          },
          "returnValue": {
            "$ref": "#/components/schemas/Volo.Abp.Http.Modeling.ReturnValueApiDescriptionModel"
          }
        },
        "additionalProperties": false
      },
      "Volo.Abp.Http.Modeling.MethodParameterApiDescriptionModel": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "nullable": true
          },
          "typeAsString": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "nullable": true
          },
          "typeSimple": {
            "type": "string",
            "nullable": true
          },
          "isOptional": {
            "type": "boolean"
          },
          "defaultValue": {
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Volo.Abp.Http.Modeling.ModuleApiDescriptionModel": {
        "type": "object",
        "properties": {
          "rootPath": {
            "type": "string",
            "nullable": true
          },
          "remoteServiceName": {
            "type": "string",
            "nullable": true
          },
          "controllers": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/Volo.Abp.Http.Modeling.ControllerApiDescriptionModel"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Volo.Abp.Http.Modeling.ParameterApiDescriptionModel": {
        "type": "object",
        "properties": {
          "nameOnMethod": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "jsonName": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "nullable": true
          },
          "typeSimple": {
            "type": "string",
            "nullable": true
          },
          "isOptional": {
            "type": "boolean"
          },
          "defaultValue": {
            "nullable": true
          },
          "constraintTypes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "bindingSourceId": {
            "type": "string",
            "nullable": true
          },
          "descriptorName": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Volo.Abp.Http.Modeling.PropertyApiDescriptionModel": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "nullable": true
          },
          "jsonName": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "nullable": true
          },
          "typeSimple": {
            "type": "string",
            "nullable": true
          },
          "isRequired": {
            "type": "boolean"
          },
          "minLength": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "maxLength": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "minimum": {
            "type": "string",
            "nullable": true
          },
          "maximum": {
            "type": "string",
            "nullable": true
          },
          "regex": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Volo.Abp.Http.Modeling.ReturnValueApiDescriptionModel": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "nullable": true
          },
          "typeSimple": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Volo.Abp.Http.Modeling.TypeApiDescriptionModel": {
        "type": "object",
        "properties": {
          "baseType": {
            "type": "string",
            "nullable": true
          },
          "isEnum": {
            "type": "boolean"
          },
          "enumNames": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "enumValues": {
            "type": "array",
            "items": {},
            "nullable": true
          },
          "genericArguments": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "properties": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Volo.Abp.Http.Modeling.PropertyApiDescriptionModel"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Volo.Abp.Http.RemoteServiceErrorInfo": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "nullable": true
          },
          "message": {
            "type": "string",
            "nullable": true
          },
          "details": {
            "type": "string",
            "nullable": true
          },
          "data": {
            "type": "object",
            "additionalProperties": {},
            "nullable": true
          },
          "validationErrors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Volo.Abp.Http.RemoteServiceValidationErrorInfo"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Volo.Abp.Http.RemoteServiceErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "$ref": "#/components/schemas/Volo.Abp.Http.RemoteServiceErrorInfo"
          }
        },
        "additionalProperties": false
      },
      "Volo.Abp.Http.RemoteServiceValidationErrorInfo": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "nullable": true
          },
          "members": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Volo.Abp.Localization.LanguageInfo": {
        "type": "object",
        "properties": {
          "cultureName": {
            "type": "string",
            "nullable": true
          },
          "uiCultureName": {
            "type": "string",
            "nullable": true
          },
          "displayName": {
            "type": "string",
            "nullable": true
          },
          "twoLetterISOLanguageName": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          }
        },
        "additionalProperties": false
      },
      "Volo.Abp.NameValue": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "nullable": true
          },
          "value": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      }
    }
  }
}
